{% set display = display ?? config.get('plugins.langswitcher.display', 'dropdown') %} {# inline, dropdown #}
{% set format = format ?? config.get('plugins.langswitcher.language_display', 'short') %} {# long, short, icon #}

{# TODO: remove #}
{% set display = 'dropdown' %}
{% set format = 'icon' %}

{% macro lang_name(language) %}
	{{ 'LANGUAGE.NAME'|tl([language]) }}
{% endmacro %}

{% macro lang_icon(language) %}
	{{ 'LANGUAGE.ICON'|tl([language]) }}
{% endmacro %}

{% macro lang_switcher(page, display, format) %}
	{% import _self as macros %}

	{% if display=='dropdown' %}
		<li><a href="#">Sprache</a><ul>
	{% endif %}

	{% for language in grav.language.languages %}
		{% set page_url = base_url ~ "/" ~ language ~ page.route|e %}

		<li>
			<a href="{{ page_url ~ uri.params ~ (uri.query|length > 1 ? '?' ~ uri.query) }}" class="{{ active_page }}">
				{% if format == 'long' %}
					{{ macros.lang_name(language) }}
				{% elseif format == 'short' %}
					{{ language|upper }}
				{% elseif format == 'icon' %}
					{{ macros.lang_icon(language) }}
				{% endif %}
			</a>
		</li>
	{% endfor %}

	{% if display=='dropdown' %}
		</ul></li>
	{% endif %}
{% endmacro %}

<nav {{ display=='dropdown' ? 'class="dropmenu animated"' : '' }}>
	<ul>
		{% import _self as macros %}
		{{ macros.lang_switcher(page, display, format) }}
	</ul>
</nav>
